<h1>RubyTwitter</h1>
<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @tweets.body %></p>
  <p><%= @tweets.created_at %></p>
</div>

<%= link_to"編集", edit_tweet_path(t.id) %>
<%= link_to "Tweet一覧に戻る", tweets_path %>