// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color:rgb(51, 46, 46);
  text-align: center;
  font-size: 40px;

}
.home-link p {
  text-align: center;
}