.homebtn {
  width:100px;
  height:60px;
  background-color: blue;
  border-radius: 10px;
  text-decoration: none;
  color:white;
  font-size: 30px;
  padding:20px 10px;

}
.toppage h1 {
  padding-bottom:40px;
}
.toptop{
  text-align: center;
}
.tweets-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin-bottom: 30px;
}

.tweet {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.link-list {
  text-align: center;

}
.editlink {
  text-decoration: none;
  color:rgb(253, 252, 252);
  width:60px;
  height:50px;
  background:rgb(42, 97, 160);
  border-radius:10%;
}
.page-nate {
  text-align: center;
  text-decoration: none;

}